.modal-close-clicker {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.5);
  }

  #setting-window {
      position: absolute;
      width: 200px;
      display: flex;
      flex-direction: column;
      top: calc(100% + 2px);
      right: 0;
      margin-top: 10px;
      background-color: var(--second-color);
      border: 1px solid var(--main-color);
      z-index: 1002;
    }

#setting-window > .setting-btn {
    display: flex;
    width: 100%;
    border: none;
    margin: 5px 0px;
    padding-left: 20px;
    background: transparent;
    background-color: red;
}

#setting-window > .setting-btn > img {
    width: 30px;
}

#setting-window > span {
    height: 1px;
    width: 100%;
    background-color: var(--background-color);
}