<main>

  <div class="title-card">
    <h5>Marchés</h5>
    <img src="../../../../../assets/icons/market.svg" />
  </div>
  <div class="card-list">
      @if (marketList$ | async; as marketList) {
          @for (market of marketList; track $index) {
              <app-card
              [type]="'static'"
              [imgContent]="marketService._BASE_URL_IMG + market .picture"
              [title]="market.name"
              [subTitle]="market.size"
              ></app-card>
            }
        }
    </div>

  <div class="title-card mt-8">
    <h5>Paniers</h5>
    <img src="../../../../../assets/icons/shop.svg" />
  </div>
  <div class="card-list">
      @if (shopList$ | async; as shopList) {
          @for (shop of shopList; track $index) {
              <app-card
              [type]="'edit'"
              [count]="10"
              [title]="shop.createdAt"
              ></app-card>
            }
        }
    </div>

</main>
