<div id="header" class="d-flex">
  <div class="nav-section">
    <button class="ghost-btn" (click)="navigateTo('/shop')">
      <img src="../../../assets/icons/shop.svg" alt="Panier" />
    </button>

    <button class="ghost-btn" (click)="navigateTo('/search')">
      <img src="../../../assets/icons/search.svg" alt="Recherche" />
    </button>

    <button class="ghost-btn" (click)="navigateTo('/home')">
      <img src="../../../assets/icons/home.svg" alt="Accueil" />
    </button>
  </div>

  <div id="settings-section">
    <button (click)="toggleSettingWindow()">
      <img [src]="profile" alt="picture profile." />
    </button>
    @if (isSettingWindowActive) {
        <app-setting-window
        (closeWindow)="toggleSettingWindow()"
        />
    }
  </div>
</div>
