<div class="d-flex header">
    <div class="nav-section">
        <button class="ghost-btn">
            <img src="../../../assets/icons/shop.svg" />
        </button>
        
        <button class="ghost-btn">
            <img src="../../../assets/icons/search.svg" />
        </button>
        
        <button class="ghost-btn">
            <img src="../../../assets/icons/home.svg" />
        </button>
    </div>
    
    <div class="settings-section">
        <button class="ghost-btn">
                <img [src]="profile" class="settings-btn" />
        </button>
    </div>
</div>