<main>
  <section class="manager-section">
    <h2>Panier.</h2>

    <div class="cards">
      <app-new-card
      [path]="'/search'"
      [word]="'Panier'"
      (newShopEvent)="newShop()"
      />

      @if (currentShop) {
        <button class="edit-card" (click)="navigateTo('/shop/current')">
          <article>
            <img src="../../../../../assets/icons/pen.svg" />
            <p>Panier<br/>Actuel</p>
          </article>
        </button>
      }

        @if (shopList$ | async; as shopList) {
            @for (shop of shopList; track $index) {
                <app-card
                    [type]="'edit'"
                    [id]="shop.id"
                    [content]="shopContent"
                    [isCompleted]="shop.isCompleted"
                    [count]="shop.count"
                    [date]="shop.createdAt"
                    [onDelete]="onDelete.bind(this, shop.id)"
                    [isActive]="shop.id === activeShop"
                    (cardSelected)="onCardClick(shop.id)"
                ></app-card>
            }
        }
    </div>
  </section>

  <app-landing-msg
    [title]="this.titleLandingMsg"
    [description]="this.descriptionLandingMsg"
    [additionalOne]="addtitonalOneLandingMsg"
    [additionalTwo]="addtitonalTwoLandingMsg"
  ></app-landing-msg>
</main>
