<main>
    @if (profile$ | async; as profile) {
        <app-last-log [lastLog]="profile.lastLog"  />
    }

    <app-landing-msg [title]="this.titleLandingMsg" [description]="this.descriptionLandingMsg" />

    <menu class="bckgrnd-clr-main">
        <article class="d-flex">
            <div class="menu-img">
                <img src="../../../assets/icons/shop.svg" />
            </div>
            <div class="menu-txt">
                <h4>Panier</h4>
                <p>Historique de paniers.</p>
            </div>
            <div class="menu-btn">
                <button class="ghost-btn" (click)="navigateTo('shop')">
                    <img src="../../../assets/icons/arrow-right.svg" />
                </button>
            </div>
        </article>
        <div class="line bckgrnd-clr-second"></div>
        <article class="d-flex">
            <div class="menu-img">
                <img src="../../../assets/icons/invoice.svg" />
            </div>
            <div class="menu-txt">
                <h4>Facture</h4>
                <p>Historique de factures.</p>
            </div>
            <div class="menu-btn">
                <button class="ghost-btn" (click)="navigateTo('invoice')">
                    <img src="../../../assets/icons/arrow-right.svg" />
                </button>
            </div>
        </article>
        <div class="line bckgrnd-clr-second"></div>
        <article class="d-flex">
            <div class="menu-img">
                <img src="../../../assets/icons/market.svg" />
            </div>
            <div class="menu-txt">
                <h4>Marché</h4>
                <p>Historique de marchés.</p>
            </div>
            <div class="menu-btn">
                <button class="ghost-btn" (click)="navigateTo('market')">
                    <img src="../../../assets/icons/arrow-right.svg" />
                </button>
            </div>
        </article>
    </menu>

    <menu class="bckgrnd-clr-main">
        <article class="d-flex">
            <div class="menu-img">
                <img src="../../../assets/icons/how-it-works.svg" />
            </div>
            <div class="menu-txt">
                <h4>Comment ça marche ?</h4>
                <p>Qestions = Réponses.</p>
            </div>
            <div class="menu-btn">
                <button class="ghost-btn" (click)="navigateTo('how-it-works')">
                    <img src="../../../assets/icons/arrow-right.svg" />
                </button>
            </div>
        </article>
    </menu>
</main>