section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section > .head-desktop {
  text-align: center;
}

section > .head-desktop > article {
  display: flex;
  width: 150px;
  margin: auto;
  padding: 5px 20px;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  background-color: var(--app-color);
  border-radius: 10px;
}

section > .head-desktop > article > h1 {
  font-size: 37px;
  color: var(--second-color);
}

section > .head-desktop > article > img {
  height: 50px;
  width: 50px;
}

section > .head-desktop > h2 {
  max-width: 700px;
  font-size: 2.4rem;
  color: var(--main-color);
  margin-top: 20px;
}

section > .head-desktop > h3 {
  font-size: 1.7rem;
  color: var(--background-color);
  margin-top: 20px;
}

section > h4 {
  font-size: 1.2rem;
  color: var(--background-color);
  margin-bottom: 20px;
}

section > .action-desktop {
  position: relative;
  margin-block: 40px;
  z-index: 10;
}

section > .action-desktop > button {
    height: 50px;
    width: 175px;
    font-size: 1.4rem;
    color: var(--second-color);
    padding: 5px 20px;
    background-color: var(--background-color);
    border: none;
    border-radius: 10px;
}

section > .action-desktop::after {
    content: "";
  position: absolute;
  display: block;
  background: url(../../../assets/icons/sparks.svg) no-repeat;
  width: 84px;
  height: 86px;
  right: 0;
  top: 0;
  margin-right: -31px;
  margin-top: -31px;
  z-index: -1;
}

section > div > img {
  height: 350px;
}

@media screen and (min-height: 667px) and (max-height: 885px) {
  section > .head-desktop > article {
    width: 100px;
  }

  section > .head-desktop > article > h1 {
    font-size: 21px;
    color: var(--second-color);
  }

  section > .head-desktop > article > img {
    height: 35px;
    width: 35px;
  }

  section > .head-desktop > h2 {
    font-size: 1.6rem;
  }

  section > .head-desktop > h3 {
    font-size: 1.2rem;
  }

  section > div > img {
    height: 250px;
  }
}
