<main>

    <section class="manager-section">
        <h2>Marché.</h2>

        <div class="cards">
            <app-new-card [word]="'Marché'" (newShopEvent)="newMarket()"/>

            @if (marketList$ | async; as marketList) {
                @for (market of marketList; track $index) {
                    <app-card
                    [type]="'edit'"
                    [id]="market.id"
                    [imgContent]="this.imageService._BASE_URL_MARKET_IMG + market.picture"
                    [content]="marketContent"
                    [title]="market.name"
                    [onDelete]="onDelete.bind(this, market.id)"
                    [isActive]="market.id === activeMarket"
                    (cardSelected)="onCardClick(market.id, market.name, market.size, market.picture)"
                    />
                }
            }
            @else {
              <div class="loading">
                <app-loader />
              </div>
            }
        </div>
    </section>
        
    <form>

        <div class="manager-input-text" (click)="focusInput(inputFieldName)">
          <label for="name">NOM *</label>
          <input #inputFieldName type="text" [(ngModel)]="name" name="name" />
        </div>
    
        <div class="manager-input-text" (click)="focusInput(inputFieldSize)">
          <label for="size">TAILLE *</label>
          <input #inputFieldSize type="text" [(ngModel)]="size" name="size" />
        </div>

        <div class="manager-input-file" >
            <label for="name">Séléctionner une image</label>
            <input type="file" (change)="onFile($event)" name="picture" accept="image/*" />
        </div>
      </form>

        <div class="submit-btn mt-8">
            <app-submit-btn [text]="textBtn" (buttonClick)="onSubmit()" />
        </div>

      <app-confirm-modal (response)="handleConfirmSubmission($event)" />
</main>