
.new-card {
    height: 150px;
    width: 150px;
    margin-right: 10px;
    padding: 20px;
    background-color: var(--second-color);
    border: none;
    border-radius: 10px;
}

.new-card > article > img {
    height: 50px;
    width: 50px;
}

.new-card > article > p {
    max-width: 110px;
    text-align: center ;
}