<ng-container [ngTemplateOutlet]="isStatic ? staticTemplate : editTemplate" />

<ng-template #staticTemplate>
  <button class="card-static" (click)="onCardSelected()">
    <article>
      <section class="high-section">
        @if (imgContent) {
          <img [src]="imgContent" [alt]="title" />
        }
        @if (count) {
          <p>{{ count }}</p>
        }
        <img [src]="isActive ? checked : unChecked" alt="Bouton validé" />
      </section>
      <section class="middle-section">
        <h4>{{ title }}</h4>
      </section>
      <section class="low-section">
        <p>{{ subTitle }}</p>
      </section>
    </article>
  </button>
</ng-template>

<ng-template #editTemplate>
  <button class="card-edit" (click)="onCardSelected()">
    <article>
      <section class="high-section">
        @if (imgContent) {
          <img [src]="imgContent" [alt]="title" />
        }
        @if (count) {
          <p>{{ count }}</p>
        }
        <img [src]="isActive ? checked : unChecked" alt="Bouton validé" />
      </section>
      <section class="middle-section">
        @if (date) {
          <p>{{ date | dateFormat }}
            @if (isCompleted) {
              <br/>
              <span class="is-checked"><img src="../../../../../assets/icons/is-check.svg" alt="validé" />Validé</span>
            }
          </p>
        }
        @if (title) {
          <p>{{ title }}</p>
        }
      </section>
      <section class="low-section">
        <button (click)="edit(id)">
          <img src="../../../../../assets/icons/pen.svg" alt="Modifier" />
        </button>
        <div></div>
        <button (click)="delete()">
          <img src="../../../../../assets/icons/bin.svg" alt="Supprimer" />
        </button>
      </section>
    </article>
  </button>
</ng-template>
