<section class="d-flex flex-column justify-center align-center auth">
  <h2 class="mb-8 text-6 text-center">Se connecter à <br/><span>📜 List.</span></h2>

  <div class="d-flex justify-center col-12">
    <app-input
    [control]="getFormControl('email')"
    [controlName]="'email'"
    [type]="'email'"
    [label]="'EMAIL *'"
    [placeholder]="'user@list.com'"
    />
  </div>

  <app-input
    [control]="getFormControl('password')"
    [controlName]="'password'"
    [type]="'password'"
    [label]="'MOT DE PASSE *'"
    [placeholder]="'***************'"
  />

  <app-submit-btn [text]="textBtn" (buttonClick)="onSubmit()" />

  <p class="text-underline mt-4">Mot de passe oublié ?</p>
  <p class="mt-4">
    Pas de compte ?
    <a class="text-underline" [routerLink]="['/signup']">Inscrivez-vous</a>
  </p>
</section>
