<main>
  <section class="container-category mt-8">
    <div class="categories mt-8">
      @if (categories$ | async; as categories) {
        @for (category of categories; track $index) {
          <div class="category">
            <article>
              <button (click)="navigateTo('/search/category/', category.id)">
                <img [src]="this.imageService._BASE_URL_CATEGORY_IMG + category.picture" [alt]="'Categorie' + category.name" />
              </button>
              <p>{{ category.name }}</p>
            </article>
          </div>
          }
        } @else {
            <div class="loading">
              <app-loader />
            </div>
          }
    </div>
  </section>
</main>
