<section class="list">
    <article class="list-category">
        <div class="list-category-info">
            <p class="number-bubble">{{ count }}</p>
            <img [src]="image" [alt]="name" />
            <h5>{{ name }}</h5>
        </div>
        <div class="list-unroll">
            <button (click)="toggleList()">
                <img [src]="isUnroll ? unRoll : roll" alt="Rouler/Dérouler" />
            </button>
        </div>
    </article>
    @if (isUnroll) {
        @for(item of items; track $index) {
            <button class="list-items" (click)="toggleSelection(item.id)">
                <p>{{ item.name }}</p>
                <img [src]="isSelected(item.id) ? check : unCheck" alt="Bouton validé" />
            </button>
        }
    }
</section>