<section>
    <article>
        <button class="close-btn" (click)="close()">
            <img src="../../../../../assets/icons/close.svg" alt="fermer" />
        </button>
        <div class="header-install-app">
            <img src="../../../../../assets/manifest/logo.png" alt="logo" />
            <h1>List.</h1>
        </div>
        <div class="body-install-app">
            <p>Profitez de la version applicative en cliquant sur le bouton ci-dessous.</p>
        </div>
        <div class="install-app-btn">
            <button (click)="installPWA()">Installer</button>
        </div>
    </article>
</section>