<section class="form">
  @if (profile$ | async; as profile) {
  <div class="last-log">
    <p>Dernière connexion :</p>
    <p>{{ profile.lastLog | dateFormat }}</p>
  </div>

  <div class="mt-8">
    <app-input
      [control]="getFormControl('firstName')"
      [controlName]="'lastName'"
      [type]="'text'"
      [label]="'PRÉNOM *'"
    />

    <app-input
      [control]="getFormControl('lastName')"
      [controlName]="'lastName'"
      [type]="'text'"
      [label]="'NOM *'"
    />

    <div class="d-flex flex-column mb-4 avatar-choice">
      <label for="email">AVATAR *</label>
      <div class="avatar-list mt-4">
        @if (avatars$ | async; as avatars) {
          @for (avatar of avatars; track
            $index) {
            <button (click)="takeAvatar(avatar)">
              <img
                [src]="this.imageService._BASE_URL_USER_IMG + avatar"
                [ngClass]="{ selected: avatar === picture }"
                alt="avatar"
              />
            </button>
        }
      }
      </div>
    </div>

    <app-input
      [control]="getFormControl('address')"
      [controlName]="'address'"
      [type]="'text'"
      [label]="'ADRESSE *'"
    />

    <app-input
      [control]="getFormControl('city')"
      [controlName]="'city'"
      [type]="'text'"
      [label]="'VILLE *'"
    />

    <app-input
      [control]="getFormControl('zipCode')"
      [controlName]="'zipCode'"
      [type]="'number'"
      [label]="'CODE POSTALE *'"
    />

    <app-submit-btn [text]="textBtn" (click)="onSubmit()" />
  </div>
  }
  @else {
    <div class="loading">
      <app-loader />
    </div>
  }

  <app-confirm-modal (response)="handleConfirmSubmission($event)" />
</section>
