
@if (display) {
    <div class="landing-msg">
        <button class="ghost-btn close-landing-msg" (click)="close()">
            <img src="../../../../../assets/icons/close.svg" />
        </button>
        <h2>{{ title }}</h2>
        <p class="landing-description">{{ description }}</p>
        @if (additionalOne) {
            <ol>
                <li>{{ additionalOne }}</li>
                @if (additionalTwo) {
                    <li>{{ additionalTwo }}</li>
                }
            </ol>
        }
    </div>
}