.landing-msg {
  position: relative;
  background-color: var(--second-color);
  padding: 30px 45px;
  border-radius: 10px;
}

.close-landing-msg {
  position: absolute;
  top: 10px;
  right: 10px;
}

.landing-msg > h2 {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

.landing-msg > p {
  text-align: center;
  font-size: 15px;
  margin-top: 20px;
}
