<section class="d-flex flex-column justify-center align-center auth">
  <h2 class="mt-8 mb-8 text-6">Enregistrer sur <span>List.</span></h2>

  <app-input
    [control]="getFormControl('firstName')"
    [controlName]="'firstName'"
    [type]="'text'"
    [label]="'PRÉNOM *'"
    [placeholder]="'John'"
  ></app-input>

  <app-input
    [control]="getFormControl('lastName')"
    [controlName]="'lastName'"
    [type]="'text'"
    [label]="'NOM *'"
    [placeholder]="'Doe'"
  ></app-input>

  <div class="d-flex flex-column mb-4 avatar-choice">
    <label for="email">AVATAR *</label>
    <div class="avatar-list mt-4">
      @if (avatars$ | async; as avatars) { 
        @for (avatar of avatars; track $index) {
            <button (click)="takeAvatar(avatar)">
                <img
                [src]="_URL_IMG + avatar"
                [ngClass]="{ selected: avatar === picture }"
                alt="avatar"
                />
            </button>
      }
    }
    </div>
  </div>

  <app-input
    [control]="getFormControl('address')"
    [controlName]="'address'"
    [type]="'text'"
    [label]="'ADRESSE *'"
    [placeholder]="'15 Rue Bel-Air'"
  ></app-input>

  <app-input
    [control]="getFormControl('city')"
    [controlName]="'city'"
    [type]="'text'"
    [label]="'VILLE *'"
    [placeholder]="'Bordeaux'"
  ></app-input>

  <app-input
    [control]="getFormControl('zipCode')"
    [controlName]="'zipCode'"
    [type]="'text'"
    [label]="'CODE POSTAL *'"
    [placeholder]="'33100'"
  ></app-input>

  <app-submit-btn
    [text]="textBtn"
    (click)="onSubmit()"
  ></app-submit-btn>

  <p class="mt-4">
    Déjà un compte ?
    <a class="text-underline" [routerLink]="['/login']">Connectez-vous</a>
  </p>
</section>
