<section class="d-flex flex-column justify-center align-center auth">

    <h2 class="mb-8 text-6">Completez votre profile.</h2>
    
    <div class="input-text mb-4">
        <label for="email">PRÉNOM *</label>
        <input
        name="firstName"
        id="firstName"
        [(ngModel)]="firstName"
        />
    </div>
    
    <div class="input-text mb-4">
        <label for="email">NOM *</label>
        <input
        name="lastName"
        id="lastName"
        [(ngModel)]="lastName"
        />
    </div>
    
    <div class="d-flex flex-column mb-4 avatar-choice">
        <label for="email">AVATAR *</label>
        <div class="avatar-list mt-4">
        @if (avatars$ | async; as avatars) {
                @for (avatar of avatars; track $index) {
                    <button (click)="takeAvatar(avatar)">
                        <img [src]="_URL_IMG + avatar" [ngClass]="{'selected' : avatar === picture}" alt="avatar"/>
                    </button>
                }
            }
        </div>
    </div>
    
    <div class="input-text mb-4">
        <label for="email">ADRESSE *</label>
        <input
        name="password"
        id="password"
        [(ngModel)]="address"
        />
    </div>
    
    <div class="input-text mb-4">
        <label for="email">VILLE *</label>
        <input
        name="password"
        id="password"
        [(ngModel)]="city"
        />
    </div>
    
    <div class="input-text mb-4">
        <label for="email">CODE POSTALE *</label>
        <input
        type="number"
        name="zipCode"
        id="zipCode"
        [(ngModel)]="zipCode"
        />
    </div>
    
    <app-submit-btn class="mt-6" [text]="textBtn" [onClick]="onSubmit"></app-submit-btn>
</section>