<section>
    <div class="welcome-msg-dash-board">
        <h1>Tableau de bord.</h1>
        <h2>Content de vous revoir Grand Chef ! 💖</h2>
    </div>

    <menu>
        <article class="d-flex">
            <div class="menu-img">
                <img src="../../../assets/icons/shop.svg" />
            </div>
            <div class="menu-txt">
                <h4>Panier</h4>
                <p>Historique de paniers.</p>
            </div>
            <div class="menu-btn">
                <button class="ghost-btn" (click)="navigateTo('shop')">
                    <img src="../../../assets/icons/arrow-right.svg" />
                </button>
            </div>
        </article>
        <div class="line"></div>
        <article class="d-flex">
            <div class="menu-img">
                <img src="../../../assets/icons/invoice.svg" />
            </div>
            <div class="menu-txt">
                <h4>Facture</h4>
                <p>Historique de factures.</p>
            </div>
            <div class="menu-btn">
                <button class="ghost-btn" (click)="navigateTo('invoice')">
                    <img src="../../../assets/icons/arrow-right.svg" />
                </button>
            </div>
        </article>
        <div class="line"></div>
        <article class="d-flex">
            <div class="menu-img">
                <img src="../../../assets/icons/market.svg" />
            </div>
            <div class="menu-txt">
                <h4>Marché</h4>
                <p>Historique de marchés.</p>
            </div>
            <div class="menu-btn">
                <button class="ghost-btn" (click)="navigateTo('market')">
                    <img src="../../../assets/icons/arrow-right.svg" />
                </button>
            </div>
        </article>
    </menu>

</section>